<template>
  <select @input="changeValue" >
    <option selected>{{selectTitle}}</option>
    <option
      v-for="(value, key) in selectOptions"
      :value="key"
      :key="key"
    >
      {{value}}
    </option>
  </select>
</template>

<script>
  export default {
    name: "text-editor-control",
    props: [
      'editFunction',
      'selectTitle',
      'selectOptions',
      'styleType'
    ],
    data() {
      return {
        valueOfOption: ''
      }
    },
    methods: {
      changeValue(event) {
        this.editFunction(this.styleType, event.target.value)
      }
    }
  }
</script>

<style scoped>

</style>