<template>
  <div id="app">
    <text-editor-control
      :editFunction="editText"
      selectTitle="Колір"
      styleType="color"
      :selectOptions="color"
    ></text-editor-control>
    <text-editor-control
      :editFunction="editText"
      selectTitle="Колір фону"
      styleType="bgColor"
      :selectOptions="backgroundColor"
    ></text-editor-control>
    <text-editor-control
      :editFunction="editText"
      selectTitle="Розмір шрифта"
      styleType="fontSize"
      :selectOptions="fontSize"
    ></text-editor-control>
    <br>
    <br>
    <input type="text" v-model="input" @input="update" @select="selectedText">
    <br>
    <br>
    <div v-html="output"></div>
    <br>
    <br>
    {{result}}
  </div>
</template>

<script>
import TextEditorControl from "@/components/TextEditorControl";
export default {
  data() {
    return {
      input: 'Hi My lovely little Pony',
      output: '',
      result: [],
      startSelection: 0,
      endSelection: 0,
      color: {
        '#f8bbd0': 'Рожевий',
        '#880e4f': 'Коричневий',
        '#ba68c8': 'Фіолетовий',
        '#f8bb00': 'Жовтий',
        white: 'Білий'
      },
      backgroundColor: {
        '#f8bbd0': 'Рожевий',
        '#880e4f': 'Коричневий',
        '#ba68c8': 'Фіолетовий',
        '#f8bb00': 'Жовтий',
        white: 'Білий'
      },
      fontSize: {
        '10px': 'Малюсенький',
        '20px': 'Маленький',
        '30px': 'Нормальний',
        '40px': 'Більший',
        '50px': 'Великий',
        '60px': 'Дуже великий',
        '70px': 'Гіганський'
      }
    }
  },
  components: {
    'text-editor-control': TextEditorControl
  },
  mounted() {
    this.update()
  },
  methods: {
    selectedText(event) {
      this.startSelection = event.target.selectionStart
      this.endSelection = event.target.selectionEnd
    },
    editText(type, property) {
      this.findInArray(type, property)
      this.updateMarkup()
    },
    findInArray(type, property) {
      const items = this.result.filter((el, index) => {
        return index >= this.startSelection && index <= this.endSelection
      })
      items.forEach(el => {
        el[type] = property
      })
    },
    update() {
      this.result = []
      const symbolsArray = [...this.input]

      symbolsArray.forEach((el) => {
        this.result.push({
          symbol: el,
          color: '',
          bgColor: '',
          fontSize: ''
        })
      })

      this.updateMarkup()
    },
    updateMarkup() {
      let html = []
      this.result.forEach(el => {
        html +=
          `<span style="color: ${el.color}; background-color: ${el.bgColor}; font-size: ${el.fontSize}">${el.symbol}</span>`;
      })
      this.output = html
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
